---
title: Home
lead: <%= site.lead %> # this is used by the subhead component
---

<!-- Header -->
<div class="bs-docs-section">
  <div class="page-header">
    <h1 id="{{slugify title}}">Welcome!  {{> popover popover.anchors }}</h1>
  </div>
  <p class="lead">{{site.description}}</p>
</div>


