<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    {{#if production}}
      {{> tags }} {{! Google Tags. See https://www.google.com/tagmanager/}}
    {{/if}}

    <a class="sr-only" href="#content">Skip to main content</a>
    <!-- Navigation component -->
    {{> nav-main }}

    <!-- Subhead component -->
    {{> subhead }}

    <!-- Belt component -->
    {{> belt }}

    <div class="container bs-docs-container">
      {{> body }}
    </div>

    <!-- Footer -->
    {{> footer }}

    <!-- JS and analytics only. -->
    {{> javascripts }}
  </body>
</html>