<div class="belt">
  <div class="container">
    <strong>
      Need help? Visit the <a href="{{site.url.bugs}}">Issues on GitHub</a> or visit the <a href="http://assemble.io/docs">Assemble docs</a> to learn more!
    </strong>
  </div>
</div>