<li>
  <a href="#example-1">Basic markdown include</a>
</li>
<li>
  <a href="#example-2">Glob patterns</a>
</li>
<li>
  <a href="#example-3">YAML Front Matter</a>
</li>
<li>
  <a href="#example-4">Markdown block helper</a>
</li>
<li>
  <a href="#example-5">Lodash Templates: Local data</a>
</li>
<li>
  <a href="#example-6">Lodash Templates: Global data</a>
</li>
