<div class="bs-social">
  <ul class="bs-social-buttons">
    <li> {{ghbtn user=site.username repo=site.name}} </li>
    <li> {{ghbtn user=site.username repo=site.name type="fork"}} </li>
    <li class="follow-btn"> {{follow user="assemblejs"}} </li>
    <li class="tweet-btn">
      {{tweet url=site.url.domain via=site.social.twitter.via related=site.social.twitter.related}}
    </li>
  </ul>
</div>