<div class="bs-header" id="content">
  <div class="container">
    <h1>{{title}}</h1>

    {{! this 'default' helper uses the first variable if it exists, otherwise the second}}
    <p>{{default lead description}}</p>
  </div>
</div>