<div class="bs-docs-section">
  <div class="page-header">
    <h1 id="team">Core team</h1>
  </div>
  <p class="lead">Bootstrap is maintained by the founding team and a small group of invaluable core contributors, with the massive support and involvement of our community.</p>
  <div class="list-group bs-team">
    <div class="list-group-item">
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mdo&amp;type=follow"></iframe>
      <a class="team-member" href="https://github.com/mdo">
        <img src="http://www.gravatar.com/avatar/bc4ab438f7a4ce1c406aadc688427f2c" alt="@mdo">
        <strong>Mark Otto</strong> <small>@mdo</small>
      </a>
    </div>
    <div class="list-group-item">
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=fat&amp;type=follow"></iframe>
      <a class="team-member" href="https://github.com/fat">
        <img src="http://www.gravatar.com/avatar/a98244cbdacaf1c0b55499466002f7a8" alt="@fat">
        <strong>Jacob Thornton</strong> <small>@fat</small>
      </a>
    </div>
    <div class="list-group-item">
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=cvrebert&amp;type=follow"></iframe>
      <a class="team-member" href="https://github.com/cvrebert">
        <img src="http://www.gravatar.com/avatar/edec428c425453955f770095a7d26c50" alt="@cvrebert">
        <strong>Chris Rebert</strong> <small>@cvrebert</small>
      </a>
    </div>
    <div class="list-group-item">
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=juthilo&amp;type=follow"></iframe>
      <a class="team-member" href="https://github.com/juthilo">
        <img src="http://www.gravatar.com/avatar/0f7dd3ce58a416be5685ea6194f82b11" alt="@juthilo">
        <strong>Julian Thilo</strong> <small>@juthilo</small>
      </a>
    </div>
  </div>
  <p>Get involved with Bootstrap development by <a href="https://github.com/twbs/bootstrap/issues/new">opening an issue</a> or submitting a pull request. Read our <a href="https://github.com/twbs/bootstrap/blob/master/CONTRIBUTING.md">contributing guidelines</a> for information on how we develop.</p>
</div>